Proplex/obj/project.assets.json
Proplex/obj/Proplex.csproj.nuget.g.props
Proplex/obj/Debug/netcoreapp3.1/Proplex.csprojAssemblyReference.cache
Proplex/obj/Debug/netcoreapp3.1/Proplex.assets.cache
Proplex/obj/Debug/netcoreapp3.1/Proplex.AssemblyInfoInputs.cache
Proplex/obj/Debug/netcoreapp3.1/Proplex.AssemblyInfo.cs
Proplex/obj/project.nuget.cache
Proplex/obj/Proplex.csproj.nuget.g.targets
Proplex/obj/Proplex.csproj.nuget.dgspec.json
Proplex/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
